.bulb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

.bulb {
    width: 300px;
    height: 450px;
    box-sizing:content-box;
    border-radius: 5% 5%;
    background-color: rgb(246, 243, 243);
    margin-bottom: 20px;
    transition: background-color 0.3s;
    border: 2px solid rgb(46, 55, 73);
    
  

}

.bulb.on {
    background-color: rgb(245, 209, 6);
}

.bulb.off {
    background-color: rgb(224, 223, 232);
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: cornflowerblue;
    
}